td.actions {
	text-align: center;
}


.row.api {}
.row.api table.api {

}

.row.api .panel-body {
	padding:15px 15px 0 15px;
}

	.row.api table.api {
		
	}

	.row.api table.api tr.get td.head {
		width:10px;
		background: #09599B;
		border:1px solid #09599B;
		color:#FFF;	
	}

	.row.api table.api tr.get td {
		background: #DBF0F7;
		color:#000;
		border-color:#09599B;
		border-bottom:1px solid #09599B;
	}


	.row.api table.api tr.post td.head {
		width:10px;
		background: #10A54A;
		border:1px solid #10A54A;
		color:#FFF;	
	}

	.row.api table.api tr.post td {
		background: #CEE;
		color:#000;
		border-color:#10A54A;
		border-bottom:1px solid #10A54A;
	}


