/*

body {
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
}

*/

.model-choose {
	text-align: center;
}

.version-choose {
	text-align: center;
}


/* Widgets */
.widget {
	padding: 15px 15px 0 15px;
}
	.widget .progress {
		height: 5px;
		margin-bottom: 10px;
	}
	.widget-stats .stats-icon {
		opacity: .9;
		filter: alpha(opacity=90);
	}
	.widget-stats.ec2 {

	}
	.widget-stats.ec2 span.running {
		background: #0dff00;
	}
	.widget-stats.ec2 span.stopped {
		background: #f7dd00
	}



#loader-wrapper {
  position: absolute;
  left: 0px;
  top: 200px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1300;
  overflow: hidden;
  height: 1000px;
  width: 100%;
}

#loader-wrapper .tesla-loader {
  width:120px;
  height: 92px;
  background: url(../../../assets/img/tesla-loader.png);
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -56px;

}

.loader {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}