

table.table.fraud {

}

.fraud-map {}
.fraud-map .panel-body {
	padding: 0;
}
.fraud-map #fraudMap { 
	height: 320px;
	width: 100%;
}

.credit-map {}
.credit-map .panel-body {
	padding: 0;
}
.credit-map #creditMap { 
	height: 320px;
	width: 100%;
}


.widget-chart {
	margin-bottom: 0;
}

.widget-chart .chart-number {
	padding: 10px 0 0 0;
	color: #fff;
	font-size: 14px;
}

.panel.panel-inverse {
	margin:0px 0px 15px 0px;
}

.transactions, .transactions-fraud {
	height: 200px;
}

table.last-application {
	margin-bottom: 0px;
}
table.last-application {
	padding:10px 15px 0 15px;
}

table.last-application .center{
	text-align: center;
}


